import os
basedir = os.path.abspath(os.path.dirname(__file__))

SECRET_KEY = "topsecret"

BASE_URL = "https://app.openspl.it"

# Database
SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(basedir, 'var/opensplit.db')
SQLALCHEMY_TRACK_MODIFICATIONS = False

# Email
# If set to 'False' everything will be printed on the terminal
EMAIL_ENABLED = False
SMTP_USER = "mailuser"
SMTP_FROM = "no-reply@openspl.it"
SMTP_SSL = True
SMTP_PORT = 465
SMTP_HOST = "mail.foobar.com"
SMTP_PASS = "evenmoresecret"

# Sentry
SENTRY_ENABLED = True
SENTRY_CONFIG = {"dsn": "https://foobarbaz@sentry.foobar.de",
                 "environment": "staging"}
